.lista {
    width: 70%;
    margin: auto;

    h1 {
        text-align: center;
    }

    a {
        text-decoration: none;
        padding: 10px 15px;
        margin-bottom: 20px;
        background-color: yellowgreen;
        color: white;
        display: inline-block;
    }

    table {
        width: 100%;
        margin: auto;

        thead {

            tr {
                background-color: darkblue;
                color: white;

                th {
                    padding: 10px;
                }
            }
        }

        tbody {

            & tr:nth-child(2n) {
                background-color: #ccc;
            }

            tr td a {
                background: none;
                margin-bottom: 5px;
                color: blue;
            }

            tr td button {
                color: red;
                background: none;
                border: none;
            }

        }
        
        tfoot tr td {
            text-align: center;
            background: #333;
            color: white;
        }
    }
}