@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Josefin Sans', sans-serif;
    color: lightgray;
}

a{
    text-decoration: none;
    color: lightgray;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}