@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Pacifico&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: rgb(255, 179, 39);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

#root {
  max-width: 1280px;
  text-align: center;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: rgb(255, 179, 39);
}

header h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4vh;
  background-color: rgb(32, 87, 255);

  & a{
    color: white;
    font-size: 1.5em;
    padding: 15px;

    &:hover{
      transition: 0.1s;
      color: rgb(255, 179, 39);
    }
  }
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 83vh;
  background-color: black;
}

main .ad {
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: space-between;
}

.error a{
  margin-top: 2rem;
}

.visualizar-produto a {
  margin-top: 2rem;
}

#titulo {
  padding-bottom: 1.5rem;
}

.lista-aparelhos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(255, 179, 39);
  height: 80%;
  width: 60vh;
}

.lista-aparelhos h3 {
  padding-bottom: .5rem;
  color: rgb(32, 87, 255);
}

.aparelhos {
  height: 20vh;
  width: 30vh;
}

.aparelhos img {
  height: 15vh;
  width: 15vh;
  border-radius: 8px 8px 0px 0px;
}

.aparelhos a {
  color: black;
}

.aparelhos a:hover {
  color: rgb(32, 87, 255);
}

.aparelhos img:hover {
  transform: scale(1.1); /* 10% increase when hovering */
  transition: transform 0.3s; /* Add a smooth transition effect */
}

.detalhes {
  width: 50vh;
  text-align: left;
  background-color: rgb(255, 179, 39);
  padding: 1rem;
  border-radius: 0px 0px 8px 8px;
}

.visualizar-produto img {
  width: 50vh;
  height: 50vh;
  border-radius: 8px 8px 0px 0px;
}

.visualizar-produto h1 {
  padding-bottom: 5vh;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: rgb(32, 87, 255);
}